* {
    font-family: sans-serif;
    font-weight: bold;
    color: #c0bcac;
    list-style: none;
    text-decoration: none;
}

#introSection {
    background-color: #508c74;
    height: 100vh;
    width: 100%;
    position: absolute;
    left: 0%;
    top: 0%
}

h2 {
    margin-top: 0px;
    position: absolute;
    top: 55px;
    left: 8%
}
#emailMain {
    position: absolute;
    top: 60px;
    left: 80%
}
#emailBackup {
    visibility: hidden;
    position: absolute;
    top: 60px;
    right: 5%;
}
#navBar {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    height: 80px;
    width: 100%;
}

#navBar >* {
    margin-left: 5%;
    font-size: 13pt;
}


span {
    color: #c0bcac;

}

@media screen and (max-width: 1300px) and (min-width: 600px){
    #emailMain {
        visibility: hidden;
        width: 0px;
    }

    #emailBackup {
        visibility: visible;

    }
}


@media screen and (max-width: 700px){

    #home {
        visibility: hidden;
    }

    #skills {
        visibility: hidden;
    }

    #emailMain {
        visibility: hidden;
        width: 0px;
    }

    #emailBackup {
        visibility: visible;

    }
    

}
