* {
    font-family: sans-serif;
    font-weight: bold;
    list-style: none;
    text-decoration: none;
}

#introSection {
    background-color: #508c74;
    height: 100vh;
    width: 100%;
    position: absolute;
    left: 0%;
    top: 0%
}

#introSection * {
    color: #c0bcac;
}

h2 {
    margin-top: 0px;
    position: absolute;
    top: 55px;
    left: 8%
}
#emailMain {
    position: absolute;
    top: 60px;
    left: 80%
}
#emailBackup {
    visibility: hidden;
    position: absolute;
    top: 60px;
    right: 5%;
}
#navBar {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    height: 80px;
    width: 100%;
    
}

#navBar > * {
    margin-left: 5%;
    font-size: 13pt;
    
}

#personalInfo {
    width: 50%;
    position: absolute;
    top: 30%;
    left: 10%;
}

#personalInfo * {
    color: black;
    margin: 0px 0px 10px 0px;
}

#personalInfo span {
    color: #c0bcac;
}
#personalInfo img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

#personalInfo h1 {
    font-size: 50pt;
}
#personalInfo h4 {
    font-size: 15pt;
    line-height: 1.5;
}



#projectSection {
    height: 100vh;
    width: 100%;
    background-color: #49586d;
    position: absolute;
    left: 0%;
    top: 100%;
}

#skillsSection {
    height: 100vh;
    width: 100%;
    background-color: #c0bcac;
    position: absolute;
    left: 0%;
    top: 200%;
}

@media screen and (max-width: 1300px) and (min-width: 600px){
    #emailMain {
        visibility: hidden;
        width: 0px;
    }

    #emailBackup {
        visibility: visible;

    }
}


@media screen and (max-width: 700px){

    #home {
        visibility: hidden;
    }

    #skills {
        visibility: hidden;
    }

    #emailMain {
        visibility: hidden;
        width: 0px;
    }

    #emailBackup {
        visibility: visible;

    }
    

}
