* {
    font-family: sans-serif;
    text-decoration: none;
}

#introSection {
    background-color: #508c74;
    height: 100vh;
    width: 100%;
    position: absolute;
    left: 0%;
    top: 0%;
    list-style: none;
}

#introSection * {
    color: #c0bcac;
    font-weight: bold;

}

#introSection h2 {
    margin-top: 0px;
    position: absolute;
    top: 55px;
    left: 8%
}
#emailMain {
    position: absolute;
    top: 60px;
    left: 80%
}
#emailBackup {
    visibility: hidden;
    position: absolute;
    top: 60px;
    right: 5%;
}

#emailMain:hover {
    color: white;
    transition: .5s;
}

#emailBackup:hover {
    color: white;
    transition: .5s;
}
#navBar {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    height: 80px;
    width: 100%;
    
}

#navBar > * {
    margin-left: 5%;
    font-size: 13pt;
    
}
#navBar > *:hover {
    color: white;
    transition: .5s;
}

#personalInfo {
    width: 50%;
    position: absolute;
    top: 30%;
    left: 8%;
}

#personalInfo * {
    color: black;
    text-align: left;
    margin: 0px;
}

#personalInfo span {
    color: #c0bcac;
}
#personalInfo img {
    max-height: 20%;
    max-width: 20%;
    border-radius: 50%;
}

#personalInfo img:hover {
    transition: 1s;
    transform: scale(1.5);
}

#personalInfo h1 {
    font-size: 9vh;
}
#personalInfo h4 {
    font-size: 3vh;
    line-height: 1.5;
}

#previewImage {
    position: absolute;
    left: 67%;
    top: 12%;
    height: 80%;

}
/* project section*/
#projectSection {
    height: 100vh;
    width: 100%;
    background-color: #49586d;
    position: absolute;
    left: 0%;
    top: 100%;

}
#projectSection button{
    position: absolute;
    right: 0%;
    width: 50px;
    height: 50px;
    margin-bottom: none;
    text-align: center;
    
}
#projectSection button:hover {
    transform: scale(1.1);
    transition: .5s;
}
#projectSection span {
    color: #c0bcac;
}

#projectTextBox {
    position: absolute;
    top: 10%;  
    right: 10%;
    text-align: right;
    width: 40%;
    
}

#projectHeading {
    margin-bottom: 10px;
}
#projectHeading h2 {
    font-size: 9vh;
    margin-bottom: 0px;
}
#projectHeading h4 {
    font-size: 3vh;
    margin-top: 10px;
}

#projectDescription > * {
    margin: 0px 0px 5px 0px;
    font-size: 3vh;
    line-height: 2;
   
}

#projectDescription a {
    color: #c0bcac;
}

/* project section*/
#projectSection button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    background-color: #c0bcac;
    font-size: 3vh;
}
    /* sample section*/
        /* wordlesample*/
#wordleSample {
    width: 42%;
    position: absolute;
    left: 5%;
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center;
    height: 100vh;

}
#wordleSampleImage {
    z-index: 10;
    max-height: 60%;
    max-width: 80%;
}
.wordleSamplePoints {
    color: #c0bcac;
    font-size: 15pt;
    font-weight: bold;
    text-align: center;
    z-index: 10;
}

.wordleSamplePoints li {
    margin-bottom: 10px;
    margin-right: 50px;
    line-height: 1.5;
    font-size: 3vh;

    display: inline-block;
}

.wordleSamplePoints > *:hover {
    color: white;
    transform: scale(1.1);
    transition: 0.5s;
}

        /*chessmini sample*/

#chessMiniSample {
    height: 100vh;
    position: absolute; 
    display: inline;
    width: 40%;
    display: flex;
    align-items: center;
    left: 5%;

}

#chessMiniSampleImage {
    max-height: 70%;
    max-width: 60%;
    top: 10%;
    left: 5%;
    opacity: 0.25;

}

.chessMiniSamplePoints {
    color: #c0bcac;
    font-size: 15pt;
    font-weight: bold;
    visibility: hidden;
    z-index: 10;

}

.chessMiniSamplePoints > *:hover {
    color: white;
    transform: scale(1.1);
    transition: 0.5s;
}

.chessMiniSamplePoints li {
    color: #c0bcac;
    margin-bottom: 20px;
    line-height: 2;
    font-size: 2vh;
}

/* skill section*/
#skillsSection {
    height: 100vh;
    width: 100%;
    background-color: #c0bcac;
    position: absolute;
    left: 0%;
    top: 200%;
    display: flex;
    justify-content: center;
}

#softSkills div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 90%;
}
#hardSkills p {
    margin: 20px 0px 20px 0px;
}
#skillsSection img {
    max-width: 20%;
    margin-right: 20px;
    max-height: 15%;
}

.skillsDescription{
    margin-top: 3%;
    display: inline-block;
    width: 40%;
    height: 90%;
    text-align: center;
    
}

.skillsDescription h2 {
    margin: 0px;
    font-size: 8vh;
}

.skillsDescription p {
    font-weight: bold;
    font-size: 3vh;
    text-align: center;

}

@media screen and (max-width: 1300px) and (min-width: 600px){
    #emailMain {
        visibility: hidden;
        width: 0px;
    }

    #emailBackup {
        visibility: visible;

    }
    #previewImage {
        left: 65%;
        top: 25%;
        height: 60%;
    }
    #projectTextBox {
        top: 10%
    }

    #projectHeading h4 {
        font-size: 2.5vh;
    }
    
    #projectDescription > * {
        font-size: 2.5vh;
       
    }
    .wordleSamplePoints li {
        font-size: 2.5vh;

    }
    #projectSection button {
        height: 30px;
        width: 30px;
    }
    .chessMiniSamplePoints li {
        margin-bottom: 0px;
        
    }
    #skillsSection img {
        max-width: 12%;
        max-height: 10%;
    }

    
}


@media screen and (max-width: 700px) and (min-width: 550px){

    #home {
        visibility: hidden;
    }

    #skills {
        visibility: hidden;
    }

    #emailMain {
        visibility: hidden;
        width: 0px;
    }

    #emailBackup {
        visibility: visible;

    }

    #projectHeading h4 {
        font-size: 2vh;
    }
    
    #projectDescription > * {
        font-size: 2vh;
       
    }
    .wordleSamplePoints {
        margin-top: 0px;
    }
    .wordleSamplePoints li {
        font-size: 2vh;
        margin-bottom: 0px;
        line-height: 1;        
    }
    #projectSection button {
        height: 20px;
        width: 20px;
    }
    #previewImage {
        left: 75%;
        top: 40%;
        height: 30%;
    }

    #projectTextBox {
        top: 10%
    }

    #projectHeading h2 {
        font-size: 40pt;
    }

    #skillsSection img {
        max-width: 10%;
        max-height: 7%;
    }
    

}


@media screen and (max-width: 550px){

    #home {
        visibility: hidden;
    }

    #skills {
        visibility: hidden;
    }

    #emailMain {
        visibility: hidden;
        width: 0px;
    }

    #emailBackup {
        visibility: visible;

    }

    #previewImage {
        visibility: hidden;
    }

    #projectTextBox {
        top: 10%
    }

    #projectHeading h4 {
        font-size: 2vh;
    }
    
    #projectDescription > * {
        font-size: 2vh;
       
    }
    .wordleSamplePoints {
        margin-top: 0px;
    }

    .wordleSamplePoints li {
        font-size: 2vh;
        margin-bottom: 0px;
        line-height: 1;        
        
    }

    #projectHeading h2 {
        font-size: 40pt;
    }
    #projectSection button {
        height: 20px;
        width: 20px;
        text-align: center;
    }
    
    
    /* skills */
    #skillsSection img {
        max-width: 10%;
        max-height: 7%;
    }

}


